<html>
  <head>
    <title>LeeChess: You have probably searched for the wrong website</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <style>
	body {
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: 50% 75%;
	}
	</style>
    <main>
        

      <div class = "grid">
	<div id = "grid-header">
          <span>The chess at home.</span>
        </div>
        <div id = "grid-content">  
          <form action="/play" method="get">
            <button type="submit">PLAY</button>
          </form>
        </div>
        <div id = "grid-rules">Rules
            <p id = "rules-inner">Regular chess rules apply. After selecting an empty tile or a tile occupied by the opponents piece, you will have to select another tile before attempting to make another move (your turn is not skipped).</p>


        </div>
        <div id = "grid-sidebar">
          <span id = "side-header">Did you know?
            


          </span>
          <p><%= gamesPlayed %>  games played </p>
          <p> <%= whiteWon %> times white won </p>
          <p> <%= draw %> draws occured </p>
          
        </div>
      </div>


      

    </main>

    

  </body>
</html>